@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('webfont.woff2') format('woff2');
}

body {
  background-color: blanchedalmond;
  font-family: 'webfont';
  font-size: 24px;
}

div:nth-of-type(odd) {
  background: yellow;
}
